---
interface Props {
  company: string;
  period: string;
  title: string;
  description: string;
  achievements?: string[];
  nestedAchievements?: Record<string, string[]>;
}

import Heading from '../ui/Heading.astro';
import { Icon } from 'astro-icon/components';

const {
  company,
  period,
  title,
  description,
  achievements,
  nestedAchievements,
} = Astro.props;
---

<div class="relative pb-10 pl-8 last:pb-0">
  <div class="border-border absolute top-0 bottom-0 left-1 border-l"></div>

  <div class="border-border bg-foreground absolute top-2.5 left-0 h-2.5 w-2.5 rounded-full border"></div>

  <Heading level="h4" class="text-foreground flex items-center">
    {company}
  </Heading>

  <div class="text-foreground/70 mt-1 flex items-center text-sm">
      <Icon name="lucide:calendar-range" class="mr-1.5 h-4 w-4" />
    <span>{period}</span>
  </div>

  <h3 class="text-foreground mt-2 font-medium">{title}</h3>

  <p class="text-foreground mt-3">{description}</p>

  {achievements && achievements.length > 0 && (
    <ul class="mt-4 space-y-2">
      {achievements.map((achievement) => (
        <li class="flex gap-2">
            <Icon name="lucide:chevrons-right" class="text-foreground mt-0.5 h-4 w-4 shrink-0" />
          <span>{achievement}</span>
        </li>
      ))}
    </ul>
  )}

  {nestedAchievements && Object.keys(nestedAchievements).length > 0 && (
    <div class="mt-4 space-y-4">
      {Object.entries(nestedAchievements).map(([key, items]) => (
        <div>
          <div class="flex gap-2">
            <Icon name="lucide:chevrons-right" class="text-foreground mt-0.5 h-4 w-4 shrink-0" />
            <span>{key}</span>
          </div>
          <ul class="mt-2 space-y-1 pl-7">
            {items.map((item) => (
              <li class="relative pl-4">
                <span class="bg-foreground absolute top-2 left-0 block h-1.5 w-1.5 rounded-full"></span>
                {item}
              </li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  )}
</div>
